.App {
  text-align: center;

}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.background{
  background-image: url("logo.svg");
  background-size: 30px;
  background-repeat: repeat;
  color: #5a88dd;
}
.fc-daygrid-event-harness{
  display: inline-grid;
  margin: 5px; 
}
.fc-event{
  width: fit-content;
  padding-left:5px;
  padding-right:5px;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.fc-event::after{
  content: "€";
  color: white;
}
#fc-dom-86{
  display: none;
}
.fc-header-toolbar {
  display: flex;
  justify-content: start !important;
}
.fc-event-title{
  font-size:0.8rem;
}
.hide {
  display: none;
}
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgb(2, 28, 36); 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  
  background: #01aac0; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #058292; 
}
